* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  width: 100%;
  font-family: "Roboto";
}

body {
  padding: 4vh 6vw;
  background-color: #fff;
}

header {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-company-name {
  height: 8vh;
  width: auto;
  display: flex;
  align-items: center;
  gap: 2vw;
}

.brand-container {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
}

.brand-container img {
  height: 55%;
  width: auto;
}

.brand-container p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #000;
}

.nav-company-name h5 {
  font-size: 0.8rem;
  font-weight: 400;
  color: #000000;

  padding: 1vmin;
  border: none;
  border-radius: 1rem;
  background-color: #edded5;
}

hr {
  border: none;
  border-top: 1px solid #e4e4e4;
}

.nav-links {
  display: flex;
  align-items: center;
  height: 8vh;
  width: auto;
  gap: 2vw;
}

.nav-links a {
  font-size: 0.9rem;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

select {
  font-size: 0.9rem;
  font-weight: 400;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-links a span {
  font-size: 0.7rem;
  font-weight: 400;
  color: #000;
  background-color: #edded5;
  padding: 0.2vmin 0.5vmin;
  border-radius: 50%;
  margin-left: 0.5vmin;
  display: inline-block;
}

.nav-links button {
  font-size: 0.9rem;
  font-weight: 400;
  color: #000000;
  background-color: transparent;
  border: 1px solid #000000;
  padding: 1vmin 2vmin;
  border-radius: 1rem;
  cursor: pointer;
  white-space: nowrap;
}

.nav-links button:hover {
  background-color: #000000;
  color: #fff;
}

.hero {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5vh;
}

.hero h1 {
  font-size: 6rem;
  font-weight: 400;
  color: #000000;
  line-height: 100%;
}

.hero p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #000000;
}

.hero button {
  font-size: 1.2rem;
  font-weight: 400;
  color: #b9b9b9;
  background-color: #000000;
  border: 1px solid #000000;
  padding: 3vmin 6vmin;
  border-radius: 4rem;
  cursor: pointer;
}

.hero button:hover {
  background-color: #000000;
  color: #ffffff;
}

.marquee {
  width: 100%;
  overflow: hidden;
  display: flex;
  margin-bottom: 10vh;
}

.marquee div {
  display: flex;
  align-items: center;
  gap: 6vw;
  flex-shrink: 0;

  padding-right: 6vw;

  animation: marquee 15s linear infinite;
}

.marquee-img {
  height: 6vh;
  width: auto;
  flex-shrink: 0;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.cards-container {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 12vh;
}

.card {
  height: 100%;
  width: 23%;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  padding: 5vmin;
  background-color: #f4f4f5;
}

.card h2 {
  font-size: 2rem;
  font-weight: 300;
}

.card p {
  font-size: 1rem;
  color: #5c5c5c;
  line-height: 1.8rem;
}

.card a {
  color: black;
}

.our-work {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6vh;
  margin-bottom: 12vh;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.heading h4 {
  font-size: 1rem;
  font-weight: 300;
  color: #000000;
}

.selected-work {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selected-work h2 {
  font-size: 3rem;
  font-weight: 500;
}

.selected-work button {
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  background-color: transparent;
  border: 1px solid #000000;
  padding: 2vmin 4vmin;
  border-radius: 5rem;
  cursor: pointer;
}

.selected-work button:hover {
  background-color: #000000;
  color: #ffffff;
}

.work-card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  grid-template-areas:
    "work-card1 work-card2"
    "work-card3 work-card4";
  gap: 4vmin;
}

.work-card1 {
  grid-area: work-card1;
}

.work-card2 {
  grid-area: work-card2;
}

.work-card3 {
  grid-area: work-card3;
}

.work-card4 {
  grid-area: work-card4;
}

.work-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.work-card-img-container {
  width: 100%;
  height: 90%;
  overflow: hidden;
}

.work-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: transform 0.3s ease;
}

.work-card img:hover {
  transform: scale(1.2);
}

.work-card-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work-card-data h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}

.work-card-data button {
  font-size: 0.8rem;
  font-weight: 400;
  color: #000000;
  background-color: transparent;
  border: 1px solid #000000;
  padding: 1vmin 2vmin;
  border-radius: 5rem;
  cursor: pointer;
}

.work-card-data button:hover {
  background-color: #000000;
  color: #ffffff;
}

.our-values {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.our-values-row1 {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2.3vw;
}

.our-values-row2 {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2.3vw;
}

.row-card-container {
  height: 100%;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 5vh 4vw;
}

.row-card-container h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}

.row-card-container p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000;
}

.row-card-container button {
  font-size: 0.8rem;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
  padding: 1vmin 2vmin;
  border-radius: 5rem;
  cursor: pointer;
}
.row-card-container button:hover {
  background-color: #ffffff;
  color: #000000;
}

.row-card-container:nth-child(1) {
  background-color: #f1f5f9;
}

.row-card-container:nth-child(2) {
  background-color: #f1f6f5;
}

.row-card-container:nth-child(3) {
  background-color: #f8f8f8;
}

.row-card-container:nth-child(4) {
  background-color: #f8f8f8;
}

.row-card-container:nth-child(5) {
  background-color: #f8ede3;
}

.row-card-container:nth-child(6) {
  background-color: #fff0e7;
}

.experiences {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.experience-container {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  line-height: 1.5;
}

.experience-container h2 {
  font-size: 3rem;
  font-weight: 400;
  color: #000000;
  line-height: 100%;
}

.experience-container div {
  display: flex;
  align-items: center;
  gap: 2vw;
  margin-top: 4vh;
}

.experience-container div p {
  font-size: 1rem;
  font-weight: 400;
  color: #646464;
}

.our-team {
  display: flex;
  flex-direction: column;
  gap: 6vh;
}

.our-expert {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.our-expert h2 {
  font-size: 3rem;
  font-weight: 500;
}

.our-expert button {
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  background-color: transparent;
  border: 1px solid #000000;
  padding: 2vmin 4vmin;
  border-radius: 5rem;
  cursor: pointer;
}

.our-expert button:hover {
  background-color: #000000;
  color: #ffffff;
}

.our-team-cards-container {
  height: 60vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4vmin;
  overflow: hidden;
}

.join-team-card {
  height: 100%;
  width: 100%;
  background-color: #f1f6f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2vh;
}

.join-team-data {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2vh;
}

.join-team-data h2 {
      font-size: 1rem;
  font-weight: 400;
  color: #000000;
}

.join-team-data h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000000;
  line-height: 2rem;
}

.join-team-data p {
  font-size: 0.8rem;
  font-weight: 400;
  color: #868686;
  line-height: 1.5rem;
}

.join-team-card button {
  font-size: 0.8rem;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
  padding: 2vmin 4vmin;
  border-radius: 5rem;
  cursor: pointer;
}

.join-team-card button:hover {
  background-color: #ffffff;
  color: #000000;
}
.team-card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.team-member {
    height: 90%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.team-member img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.team-member img:hover {
    transform: scale(1.1);
}

.icons {
    position: absolute;
    bottom: -15%;
    right: 5%;
    font-size: 1rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 1vw;
}

.team-member:hover .icons {
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        bottom: -15%;
    }
    to {
        opacity: 1;
        bottom: 5%;
    }
}

.icons i {
    cursor: pointer;
    padding: 2vmin;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 50%;
    background-color: #000000;
}

.team-member-data {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5vh;
}

.team-member-data h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
}

.team-member-data button {
    font-size: 0.8rem;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 1vmin 2vmin;
    border-radius: 5rem;
    cursor: pointer;
}


.team-member-data button:hover {
    background-color: #000000;
    color: #ffffff;
}   

.logoipsum {
    height: 100vh;
    width: 100%;
    margin-top: 12vh;
    margin-bottom: 12vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 6vh;
}

.logoipsum hr {
    width: 75%;
    border: 1px solid #e4e4e4;
}

.logoipsum-data {
    height: 45vh;
    width: 75%;
    display: flex;
    align-items: start;
    gap: 4vw;
}


.logoipsum-data img {
    height: 15%;
    width: auto;
}

.logoipsum-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 2vh;
}

.logoipsum-text h2 {
    font-size: 2rem;
    font-weight: 400;
    color: #000000;
}

.logoipsum-text p {
    font-size: 0.85rem;
    font-weight: 400;
    color: #000000;
    line-height: 1.5rem;
}

.contact {
    height: 80vh;
    width: 100%;
    margin-bottom: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f6f5;

    position: relative;
}

.contact h5 {
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 1rem;
    font-weight: 400;
}

.contact div {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    gap: 2vh;
}

.contact div h2 {
    font-size: 4rem;
    font-weight: 400;
    color: #000000;
    line-height: 100%;
    line-height: 5rem;
}   

.contact div h4 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #000000;
    line-height: 2rem;
}

.contact div button {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #000000;
    padding: 2vmin 4vmin;
    border-radius: 5rem;
    cursor: pointer;
}   


.contact div button:hover {
    background-color: #ffffff;
    color: #000000;
}


.blog {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}



.insight {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.insight h2 {
  font-size: 3rem;
  font-weight: 500;
}

.insight button {
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  background-color: transparent;
  border: 1px solid #000000;
  padding: 2vmin 4vmin;
  border-radius: 5rem;
  cursor: pointer;
}

.insight button:hover {
  background-color: #000000;
  color: #ffffff;
}


.blog-cards-container {
  height: 60vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4vmin;
  overflow: hidden;
}

.blog-card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.insight-img-container {
  height: 70%;
  width: 100%;
  overflow: hidden;
}

.insight-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.insight-img-container img:hover {
  transform: scale(1.1);
}

.blog-card h4 {
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}

.blog-card a {
  font-size: 0.9rem;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}


footer {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-top {
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4vmin;
}

.footer-logo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6vh;
}

.logooooo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logooooo img {
    height: 4vh;
    width: auto;
}

.logooooo p {
    font-size: 1rem;
    font-weight: 400;
    color: #000;
}

.footer-logo i {
    font-size: 1rem;
    color: #000000;
    cursor: pointer;
    background-color: #f0f8ff;
    padding: 1vmin;
    border: none;
    border-radius: 50%;
}

.footer-column {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2vh;
}

.footer-column h4 {
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
}

.footer-column hr {
    width: 50%;
    border: 1px solid #e4e4e4;
}

.footer-column div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4vh;
}

.footer-column div a {
    position: relative;
    font-size: 0.9rem;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

.footer-column div a::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -4px;

    width: 100%;
    height: 1px;

    background-color: #000000;

    transform: scaleX(0);
    transform-origin: left;

    transition: transform 1s ease;
}

.footer-column div a:hover::after {
    transform: scaleX(1);
}

.footer-pages button {
    font-size: 0.9rem;
    font-weight: 400;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #000000;
    padding: 1vmin 2vmin;
    border-radius: 5rem;
    cursor: pointer;
}

.footer-pages button:hover {
    background-color: #ffffff;
    color: #000000;
}

.copyright {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #868686;
}

.copyright p {
    font-size: 1rem;
    font-weight: 400;
}

.copyright p span {
    color: #000000;
}

.copyright div {
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-left: 2vw;
}

.copyright div a {
    font-size: 0.9rem;
    font-weight: 400;
    color: #868686;
    text-decoration: none;
}